export module {{ModuleName}}:{{FragmentName}};

{{#Imports}}
import {{Name}};
{{/Imports}}

namespace {{CppNamespace}}::{{CppName}}
{
    {{#Methods}}
    export {{CppReturnType}} {{CppName}}({{CppParameters}});
    {{/Methods}}
}
