
import {{ModuleName}};
{{#Imports}}
import {{Name}};
{{/Imports}}
{{^IsScriptModule}}
import retro.scripting;

{{/IsScriptModule}}
namespace {{CppNamespace}}
{
    {{#Exporters}}
    struct RetroEngine_Binds_{{ManagedName}} {
        {{#Methods}}
        static const ExportedFunction RETRO_BIND_{{ManagedName}};
        {{/Methods}}
    };

    {{#Methods}}
    const ExportedFunction RetroEngine_Binds_{{../ManagedName}}::RETRO_BIND_{{ManagedName}} = ExportedFunction{"{{../ManagedName}}", "{{ManagedName}}", &{{../CppName}}::{{CppName}};
    {{/Methods}}
    {{/Exporters}}
}
