using RetroEngine.Binds;

namespace {{ManagedNamespace}};

unsafe partial class {{Name}}
{
    {{#Methods}}
    private static readonly delegate *unmanaged<{{#Parameters}}{{ManagedType}}, {{/Parameters}}{{ManagedReturnType}}> {{Name}}_Delegate;
    {{/Methods}}

    static {{Name}}()
    {
        {{#Methods}}
        var {{Name}}_Delegate_Size = {{DelegateSize}};
        {{Name}}_Delegate = (delegate *unmanaged<{{#Parameters}}{{ManagedType}}, {{/Parameters}}{{ManagedReturnType}}>) BindsManager.GetBoundFunction("{{../Name}}", "{{Name}}", {{Name}}_Delegate_Size);
        {{/Methods}}
    }
    
    {{#Methods}}
    public static partial {{ManagedReturnType}} {{Name}}({{MethodParameters}}) => {{Name}}_Delegate({{ParameterNames}});
    {{/Methods}}
}