#nullable enable
#pragma warning disable CS0108 // hides inherited member
#pragma warning disable CS0162 // Unreachable code
#pragma warning disable CS0164 // This label has not been referenced
#pragma warning disable CS0219 // Variable assigned but never used
#pragma warning disable CS0618 // Type or member is obsolete
#pragma warning disable CS8600 // Converting null literal or possible null value to non-nullable type.
#pragma warning disable CS8601 // Possible null reference assignment
#pragma warning disable CS8602
#pragma warning disable CS8604 // Possible null reference argument for parameter
#pragma warning disable CS8619
#pragma warning disable CS8620
#pragma warning disable CS8631 // The type cannot be used as type parameter in the generic type or method
#pragma warning disable CS8765 // Nullability of type of parameter
#pragma warning disable CS9074 // The 'scoped' modifier of parameter doesn't match overridden or implemented member
#pragma warning disable CA1050 // Declare types in namespaces.

using System;
using MagicArchive;
using System.Buffers;
using MagicArchive.Formatters;
using MagicArchive.Utilities;

namespace {{Namespace}};

partial {{ClassType}} {{Name}} : IArchivable<{{Name}}>
{
    static {{SimpleName}}()
    {
        {{#BlittableRegistrations}}
        {{#IsBlittable}}
        {{#IsComplex}}
        BlittableMarshalling.RegisterComplexBlittable<{{TypeName}}>();
        {{/IsComplex}}
        {{^IsComplex}}
        BlittableMarshalling.RegisterSimpleBlittable<{{TypeName}}>();
        {{/IsComplex}}
        {{/IsBlittable}}
        {{^IsBlittable}}
        BlittableMarshalling.RegisterNotBlittable<{{TypeName}}>();
        {{/IsBlittable}}
        {{/BlittableRegistrations}}
        ArchiveFormatterRegistry.Register<{{Name}}>();
        StaticInit();
    }

    static partial void StaticInit();

    static void IArchivable.RegisterFormatters()
    {
        if (!ArchiveFormatterRegistry.IsRegistered<{{Name}}>())
            ArchiveFormatterRegistry.Register(new ArchivableFormatter<{{Name}}>());
        {{#IsValueType}}
        if (!ArchiveFormatterRegistry.IsRegistered<{{Name}}?>())
            ArchiveFormatterRegistry.Register(new NullableFormatter<{{Name}}>());
        {{/IsValueType}}
        if (!ArchiveFormatterRegistry.IsRegistered<{{Name}}[]>())
            ArchiveFormatterRegistry.Register(new ArrayFormatter<{{Name}}>());
        {{#AdditionalTypeRegistrations}}
        if (!ArchiveFormatterRegistry.IsRegistered<{{TypeName}}>())
            ArchiveFormatterRegistry.Register(new {{FormatterName}}());
        {{/AdditionalTypeRegistrations}}
        {{#IsCustom}}
        RegisterAdditionalFormatters();
        {{/IsCustom}}
    }
    {{#IsCustom}}
    static partial void RegisterAdditionalFormatters();
    {{/IsCustom}}
    {{^IsCustom}}

    static void IArchivable<{{Name}}>.Serialize<TBufferWriter>(ref ArchiveWriter<TBufferWriter> writer, scoped in {{NullableName}} value)
    {
        {{^IsValueType}}
        if (value is null)
        {
            writer.WriteNullObjectHeader();
            return;
        }

        {{/IsValueType}}
        {{#IsTolerant}}
        {{#IsCircularReference}}
        var (existsReference, id) = writer.State.GetOrAddReference(value);
        if (existsReference)
        {
            writer.WriteObjectReferenceId(id);
            return;
        }

        {{/IsCircularReference}}

        var tempBuffer = ReusableLinkedArrayBufferWriterPool.Rent();
        try
        {
            Span<int> offsets = stackalloc int[{{Members.Length}}];
            var tempWriter = ArchiveWriter.Create(ref tempBuffer, writer.State);
            {{#Members}}
            {{MemberWriter "tempWriter"}}
            offsets[{{Index}}] = tempWriter.WrittenBytes;
            {{/Members}}

            tempWriter.Flush();

            writer.WriteObjectHeader({{MemberCount}});
            for (var i = 0; i < {{MemberCount}}; i++)
            {
                int delta;
                if (i == 0)
                {
                    delta = offsets[i];
                }
                else
                {
                    delta = offsets[i] - offsets[i - 1];
                }
                writer.WriteBlittable(delta);
            }
            {{#IsCircularReference}}
            writer.WriteBlittable(id);
            {{/IsCircularReference}}
            tempBuffer.WriteToAndReset(ref writer);
        }
        finally
        {
            ReusableLinkedArrayBufferWriterPool.Return(tempBuffer);
        }
        {{/IsTolerant}}
        {{^IsTolerant}}

        writer.WriteObjectHeader({{MemberCount}});
        {{#Members}}
        {{MemberWriter "writer"}}
        {{/Members}}
        {{/IsTolerant}}
    }

    static void IArchivable<{{Name}}>.Deserialize(ref ArchiveReader reader, scoped ref {{NullableName}} value)
    {
        if (!reader.TryReadObjectHeader(out var count))
        {
            {{#IsValueType}}
            ArchiveSerializationException.ThrowDeserializeObjectIsNull("{{Name}}");
            {{/IsValueType}}
            {{^IsValueType}}
            value = null;
            return;
            {{/IsValueType}}
        }


        {{#IsCircularReference}}
        uint id;
        if (count == ArchiveCodes.ReferenceId)
        {
            id = reader.ReadBlittable<uint>();
            value = ({{Name}}) reader.State.GetObjectReference(id);
            return;
        }
        {{/IsCircularReference}}
        {{#IsTolerant}}
        Span<int> deltas = stackalloc int[count];
        for (var i = 0; i < count; i++)
        {
            deltas[i] = reader.ReadBlittable<int>();
        }
        {{/IsTolerant}}
        {{#IsCircularReference}}
        id = reader.ReadBlittable<uint>();
        if (value is null)
        {
            value = new {{Name}}();
        }
        reader.State.AddObjectReference(id, value);
        {{/IsCircularReference}}
        {{#Members}}
        {{^IsBlank}}
        {{MemberType}} __{{Name}}__;
        {{/IsBlank}}
        {{/Members}}
        {{#IsTolerant}}
        var readCount = {{MemberCount}};
        {{/IsTolerant}}
        if (count == {{MemberCount}})
        {
            {{^IsValueType}}
            if (value is null)
            {{/IsValueType}}
            {
                {{#Members}}
                {{#if ../IsTolerant}}if (deltas[{{Index}}] != 0) {{/if}}{{^IsBlank}}__{{Name}}__ = {{/IsBlank}}{{MemberReader "reader"}};
                {{#if ../IsTolerant}}
                {{^IsBlank}}
                else __{{Name}}__ = {{DefaultValue}};
                {{/IsBlank}}
                {{/if}}
                {{/Members}}

                goto NEW;
            }
            {{^IsValueType}}
            else
            {
                {{#Members}}
                {{^IsBlank}}
                __{{Name}}__ = value.{{Name}};
                {{/IsBlank}}
                {{/Members}}

                {{#Members}}
                {{#if ../IsTolerant}}if (deltas[{{Index}}] != 0) {{/if}}{{MemberRefReader "reader"}};
                {{/Members}}

                goto SET;
            }
            {{/IsValueType}}
        }
        {{^IsTolerant}}
        else if (count > {{MemberCount}})
        {
            ArchiveSerializationException.ThrowInvalidPropertyCount(typeof({{Name}}), {{MemberCount}}, count);
            return;
        }
        {{/IsTolerant}}
        else
        {
            {{^IsValueType}}
            if (value is null)
            {{/IsValueType}}
            {
                {{#Members}}
                {{^IsBlank}}
                __{{Name}}__ = {{DefaultValue}};
                {{/IsBlank}}
                {{/Members}}
            }
            {{^IsValueType}}
            else
            {
                {{#Members}}
                {{^IsBlank}}
                __{{Name}}__ = value.{{Name}};
                {{/IsBlank}}
                {{/Members}}
            }
            {{/IsValueType}}

            if (count == 0) goto SKIP_READ;
            {{#Members}}

            {{#if ../IsTolerant}}if (deltas[{{Index}}] != 0) {{/if}}{{MemberRefReader "reader"}};
            if (count == {{IndexPlusOne}}) goto SKIP_READ;
            {{/Members}}

            SKIP_READ:
            {{^IsValueType}}
            if (value is null)
            {{/IsValueType}}
            {
                goto NEW;
            }
            {{^IsValueType}}
            else
            {
                goto SET;
            }
            {{/IsValueType}}
        }

        SET:
        {{#UsesEmptyConstructor}}
        {{#Members}}
        {{#IsAssignable}}
        value.{{Name}} = __{{Name}}__;
        {{/IsAssignable}}
        {{/Members}}
        goto READ_END;
        {{/UsesEmptyConstructor}}

        NEW:
        value = new {{Name}}({{ConstructorParameters}})
        {
            {{#Members}}
            {{#IsSettable}}
            {{^IsConstructorParameter}}
            {{^SupressDefaultInitialization}}
            {{Name}} = __{{Name}}__,
            {{/SupressDefaultInitialization}}
            {{/IsConstructorParameter}}
            {{/IsSettable}}
            {{/Members}}
        };
        {{#IsTolerant}}
        {{#Members}}
        {{#SuppressDefaultInitialization}}
        if (deltas.Length > {{Index}} && deltas[{{Index}}] != 0)
            value.{{Name}} = __{{Name}}__;
        {{/SuppressDefaultInitialization}}
        {{/Members}}
        {{/IsTolerant}}
        {{^IsTolerant}}
        {{#Members}}
        {{#SuppressDefaultInitialization}}
        if ({{IndexPlusOne}} <= count)
            value.{{Name}} = __{{Name}}__;
        {{/SuppressDefaultInitialization}}
        {{/Members}}
        {{/IsTolerant}}

        READ_END:
        {{#IsTolerant}}
        if (count == readCount)
            return;

        for (var i = readCount; i < count; i++)
        {
            reader.Advance(deltas[i]);
        }
        {{/IsTolerant}}

        return;
    }
    {{/IsCustom}}
}
